{% extends 'basedashboard.html.twig' %}

{% block body %}
<section id="blogPosts" class="parallax" style="margin-top: 5vh">
	    <div class="parallax-overlay">
		    <div class="container">
		        <div class="row">
		        	<div class="col-md-12">
		        		<div class="section-header">
							<h2 class="section-title">L'équipe Hislife</h2>
							<p class="section-desc"></p>
						</div> <!-- /.section-header -->
		        	</div> <!-- /.col-md-12 -->
		        </div> <!-- /.row -->
		        <div class="row latest-posts">
		        	<div class="col-md-3 col-sm-3">
		        		<div class="blog-post clearfix">
		        			<div class="thumb-post">
		        				<img src="../assets/images/includes/audrey.jpg" alt="" class="img-circle">
		        			</div>
		        			<div class="blog-post-content">
		        				<h4 class="post-title" style="margin-bottom: 0px;"><a href="">Audrey</br>Bodin</a></h4>
		        				<span class="meta-post-date">Product Owner</span></br>
								<span class="meta-post-date">Lead Dev Front</span>
								<span class="meta-post-date">Développeur back-end</span>
		        			</div>
		        		</div> <!-- /.blog-post -->
		        	</div> <!-- /.col-md-4 -->
		        	<div class="col-md-3 col-sm-3">
		        		<div class="blog-post clearfix">
		        			<div class="thumb-post">
		        				<img src="../assets/images/includes/franck.jpg" alt="" class="img-circle">
		        			</div>
		        			<div class="blog-post-content">
		        				<h4 class="post-title" style="margin-bottom: 0px;"><a href="">Franck</br>Bats</a></h4>
		        				<span class="meta-post-date">Git Master</span></br>
								<span class="meta-post-date">Référent Technique</span>
								<span class="meta-post-date">Développeur back-end</span>
		        			</div>
		        		</div> <!-- /.blog-post -->
		        	</div> <!-- /.col-md-4 -->
		        	<div class="col-md-3 col-sm-3">
		        		<div class="blog-post clearfix">
		        			<div class="thumb-post">
		        				<img src="../assets/images/includes/gaetan.jpg" alt="" class="img-circle">
		        			</div>
		        			<div class="blog-post-content">
		        				<h4 class="post-title" style="margin-bottom: 0px;"><a href="">Gaëtan</br>Canovas</a></h4>
		        				<span class="meta-post-date">Lead Dev Back</span>
								<span class="meta-post-date">Développeur back-end</span>
		        			</div>
		        		</div> <!-- /.blog-post -->
		        	</div> <!-- /.col-md-4 -->
		        	<div class="col-md-3 col-sm-3">
		        		<div class="blog-post clearfix">
		        			<div class="thumb-post">
		        				<img src="../assets/images/includes/floriane.jpg" alt="" class="img-circle">
		        			</div>
		        			<div class="blog-post-content">
		        				<h4 class="post-title" style="margin-bottom: 0px;"><a href="">Floriane</br>Gitton</a></h4>
		        				<span class="meta-post-date">Scrum Master</span>
								<span class="meta-post-date">Développeur back-end</span>
		        			</div>
		        		</div> <!-- /.blog-post -->
		        	</div> <!-- /.col-md-4 -->
		        </div> <!-- /.row -->
		    </div> <!-- /.container -->
	    </div> <!-- /.parallax-overlay -->
	</section> <!-- /#blogPosts -->

{% endblock %}