{% extends 'basedashboard.html.twig' %}

{% block body %}

<section class="light-content our-team">

</section>


 <div class="container">
    <h1>Oopsie, apparement il y a eu une erreur de notre côté</h1>

    {# insere ici ta photo de macauley culkin 
    + creer une méthode pour la cration de mail vers le "support"#}
    					
    <p>
        En attendant si tu nous partageais la plus belle photo de ton petit dernier <a href="{{ path('picture_add') }}">ici</a>,
        ou bien tu peux aussi revenir sur ta <a href="{{ path('dashboard') }}"> page d'accueil.
    </p>
    </div>
{% endblock %}