{% extends 'basedashboard.html.twig' %}

{% block body %}

<section class="light-content our-team">

</section>


 <div class="container">
    <h1>Hop hop hop, tu n'as pas le droit d'être ici !</h1>

    {# insere ici ta photo de macauley culkin #}
    					
    <p>
        Retourne <a href="{{ path('dashboard') }}">par ici</a>, c'est plus sûr.
    </p>
    </div>
{% endblock %}