{% extends 'basedashboard.html.twig' %}

{% block body %}

<section class="light-content our-team">

</section>


 <div class="container">
    <h1>Bah alors on s'est perdu ?</h1>

    {# insere ici ta photo de macauley culkin #}
    					
    <p>
        T'as pas l'air d'être sur la bonne page, reviens <a href="{{ path('dashboard') }}">par ici</a>.
    </p>
    </div>
{% endblock %}